<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="com.mohaberabi.TOP_SECRET_PERMISSION" />
    <uses-permission android:name="com.mohaberabi.BIND_TO_MUSIC_SERVICE" />

    <permission android:name="com.mohaberabi.BIND_TO_MUSIC_SERVICE" />
    <permission android:name="com.mohaberabi.WORD.PROVIDER" />

    <application
        android:name=".AndroidInternalsApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidInternals"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.AndroidInternals">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:name=".ipc.aidl.MusicServiceAidl"
            android:exported="true"
            android:permission="com.mohaberabi.BIND_TO_MUSIC_SERVICE">
            <intent-filter>
                <action android:name="com.mohaberabi.BIND_TO_MUSIC_SERVICE" />
            </intent-filter>
        </service>
        <provider
            android:authorities="com.mohaberabi.word.provider"
            android:exported="true"
            android:permission="com.mohaberabi.WORD.PROVIDER"
            android:name=".ipc.providers.provider.WordContentProvider">

        </provider>
    </application>
    <queries>
        <package android:name="com.mohaberabi.androidinternals.another">

        </package>
    </queries>

</manifest>